<div class="container">

  <div class="row mt-2">
      <div class="col-lg-3 col-sm-4 col-xs-12">
        <div class="row">
          <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3" >

                  <img *ngIf="album.length > 0; else defaultImage" class="main-img" (click)="open(0)" [src]="album[0]?.thumb">
                  <ng-template #defaultImage>
                  <img  class="main-img"  width="300" src="assets/ico_{{detailInfos.meta_categorie}}.png" alt="">

                  </ng-template>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
              <div class="caroussel">
                <img class="main-img" *ngFor="let _img of album; let index=index" (click)="open(index)" [src]="_img.thumb" />
              </div>
          </div>
        </div>
      </div>

  
      <div class="col-lg-9 col-sm-8 col-xs-12">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>
              <div class="mb-1">
                {{detailInfos.categorie}}
            </div>  
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="horizontaly-center">
              <h1 *ngIf="detailInfos.meta_categorie == 'personnes_physiques'; else other"> 
                {{detailInfos.prenom_nom_pers_phy}} 
              </h1>
              <ng-template #other> <h1>{{detailInfos.title}} </h1> </ng-template>
              <div *ngIf="detailInfos.meta_categorie == 'monuments_lieux'">
                <h3> <span *ngFor="let nature of detailInfos.natures"> {{nature}} </span> </h3>
              </div>
              <div *ngIf="detailInfos.meta_categorie == 'mobiliers_images'">
                <h3> <span *ngFor="let des of detailInfos.designations"> {{des}} </span> </h3>
              </div>
              <div *ngIf="detailInfos.meta_categorie == 'personnes_morales'">
                <h3> <span *ngFor="let nature of detailInfos.natures"> {{nature}} </span> </h3>
              </div>
              <div *ngIf="detailInfos.meta_categorie == 'personnes_physiques'">
                <h3> <span *ngFor="let nature of detailInfos.natures"> {{nature}} </span> </h3>
              </div>
            </div>
            <mat-divider width="20"></mat-divider>

            <div *ngIf="detailInfos.meta_categorie == 'monuments_lieux' || detailInfos.meta_categorie == 'mobiliers_images'" >
              <div class="row">
                <div class="col-6">
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListItemIcon>schedule</mat-icon>
                      <div matListItemTitle>Siècle</div>
                      <div matListItemLine> <span *ngFor="let siecle of detailInfos.siecles" >{{siecle}}</span> </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListItemIcon>safety_check</mat-icon>
                      <div matListItemTitle>Etat de conservation</div>
                      <div matListItemLine> <span *ngFor="let etat of detailInfos.etats_conservation">{{etat}}</span> </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListItemIcon>category</mat-icon>
                        
                      <div matListItemTitle>Materiaux</div>
                      <div matListItemLine> <span *ngFor="let mat of detailInfos.materiaux">{{mat}}</span> </div>
                    </mat-list-item>
                </mat-list>
                </div>
                <div class="col-6">
                  <app-location [detailInfos]="detailInfos" ></app-location>
                </div>


              </div>
            </div>
            <div *ngIf="detailInfos.meta_categorie == 'personnes_morales'" >
              <div class="row">
                <div class="col-6">
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListItemIcon>schedule</mat-icon>
                      <div matListItemTitle>Siècle</div>
                      <div matListItemLine> <span *ngFor="let siecle of detailInfos.siecles" >{{siecle}}</span> </div>
                    </mat-list-item>

                </mat-list>
                </div>
                <div class="col-6">
                  <app-location [detailInfos]="detailInfos" ></app-location>
                </div>


              </div>
            </div>
            <div *ngIf="detailInfos.meta_categorie == 'personnes_physiques'" >
              <div class="row">
                <div class="col-6">
                  <mat-list>
                    <mat-list-item>
                      <mat-icon matListItemIcon>schedule</mat-icon>
                      <div matListItemTitle>Siècle</div>
                      <div matListItemLine> <span *ngFor="let siecle of detailInfos.siecles" >{{siecle}}</span> </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListItemIcon>schedule</mat-icon>
                      <div matListItemTitle>Modes de déplacements</div>
                      <div matListItemLine> <span *ngFor="let mode of detailInfos.modes_deplacements" >{{mode}}</span> </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon matListItemIcon>schedule</mat-icon>
                      <div matListItemTitle>Periode historique</div>
                      <div matListItemLine> <span *ngFor="let period of detailInfos.periodes_historiques" >{{period}}</span> </div>
                    </mat-list-item>
                    

                </mat-list>
                </div>
                <div class="col-6">
                  <app-location [detailInfos]="detailInfos" ></app-location>
                </div>


              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="row mt-3">
        <div class="col">
          <mat-card>
            <mat-card-content>
              <div *ngIf="detailInfos.histoire">
                <div class="bold"> Histoire : </div>
                {{detailInfos.histoire}}
              </div> 
              <div  *ngIf="detailInfos.description">
                <div class="bold"> Description : </div>
                {{detailInfos.description}}
              </div>
  
  <mat-divider class="mt-3 mb-3"></mat-divider>
  
    <div class="bold mb-3"> Autres informations : </div>
    <table class="table table-striped col-6">
      <tbody>
        <tr *ngFor="let item of detailInfos | keyvalue" > 
          <td> {{item.key}} </td>
          <td> {{item.value}} </td>
        </tr>
  
      </tbody>
    </table>
  
  <!-- <p> -->
 <!-- <b> Bibliographie :</b> xxx <br>

 <b> Date Creation de la fiche :</b>  xxx <br>

 <b> Date Maj de la fiche : </b>  xxx <br>

 <b> Redacteur : </b>  xxx <br>

<b>Contributeur :</b>  xxx <br>

<b> N° Fiche :</b>  xxx
  </p> -->
            </mat-card-content>
          </mat-card>
        </div>

      </div>



  
  </div>
  
  <div class="row" id="lightBoxRow">

  </div>


  <div class="row mt-3">
    <div class="col-12">
      <div class="card">
        <h2 class="card-header">  Fiches liées</h2>
        <div class="card-body detail-body">
          <div class="mt-2">
            <h4>Monuments & lieux</h4>
            <div class="caroussel">
              <app-patri-card class="mb-2" *ngFor="let i of [1,1,1,1, 1,1,1,1,1,1,1,1,1,1,1]"></app-patri-card>
            </div>
          </div>
          <div class="mt-2">
            <h4>Mobiliers & Images</h4>
            <div class="caroussel">
              <app-patri-card class="mb-2" *ngFor="let i of [1,1,1,1, 1,1,1,1,1]"></app-patri-card>
            </div>
          </div>
          <div class="mt-2">
            <h4>Mobiliers & Images</h4>
            <div class="caroussel">
              <app-patri-card class="mb-2" *ngFor="let i of [1,1,1,1, 1,1,1,1,1]"></app-patri-card>
            </div>
          </div>
          <div class="mt-2">
            <h4>Personnes Physiques</h4>
            <div class="caroussel">
              <app-patri-card class="mb-2" *ngFor="let i of [1,1,1,1, 1,1,1,1,1]"></app-patri-card>
            </div>
          </div>
          <div class="mt-2">
            <h4>Personnes Morales</h4>
            <div class="caroussel">
              <app-patri-card class="mb-2" *ngFor="let i of [1,1,1,1, 1,1,1,1,1]"></app-patri-card>
            </div>
          </div>

        </div>
  
      </div>
    </div>
  </div>
</div>

