<div class="container-fluid">

  <div class="row mt-2">
      <div class="col-lg-4 col-sm-6 col-xs-12">
          <div class="card mb-3" >
                <div (click)="open(1)" class="col-md-12 img-back" id="main-img-card" style="background-image: url('https://stjacq.jnld.xyz/download/noco/StJACQ/TestMedias/image/QHzdH5ie6VEySMq67A.jpg');">
              </div>
          </div>
      </div>
  
      <div class="col-lg-8 col-sm-6 col-xs-12">
          <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
      </div>
  
  </div>
  
  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12">
      <div class="row">
        <div class="col-12">
          <div class="caroussel">
            <img *ngFor="let _img of album; let index=index" (click)="open(index)" src="https://stjacq.jnld.xyz/download/noco/StJACQ/TestMedias/image/QHzdH5ie6VEySMq67A.jpg" alt="Bhutan" />
          </div>
        </div>
    
  
    </div>
  </div>
  
  

  
  
  
  
  </div>
</div>