<mat-list>
    <mat-list-item class="up-block-list">
      <mat-icon matListItemIcon class="up-block-ico">location_on</mat-icon>
      <div matListItemTitle>Pays</div>
      <div matListItemLine>{{detailInfos.pays}} </div>
    </mat-list-item>
    <mat-list-item class="up-block-list">
      <mat-icon matListItemIcon class="up-block-ico">location_on</mat-icon>
      <div matListItemTitle>Région</div>
      <div matListItemLine>{{detailInfos.region}} </div>
    </mat-list-item>
    <mat-list-item class="up-block-list">
      <mat-icon matListItemIcon class="up-block-ico">location_on</mat-icon>
      <div matListItemTitle>Département</div>
      <div matListItemLine>{{detailInfos.departement}} </div>
    </mat-list-item>
    <mat-list-item class="up-block-list">
        <mat-icon matListItemIcon class="up-block-ico">location_on</mat-icon>
        <div matListItemTitle>Commune</div>
        <div matListItemLine>{{detailInfos.commune}}</div>
      </mat-list-item>
</mat-list>