<mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon>location_on</mat-icon>
      <div matListItemTitle>Pays</div>
      <div matListItemLine>{{detailInfos.pays}} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>location_on</mat-icon>
      <div matListItemTitle>Région</div>
      <div matListItemLine>{{detailInfos._region}} </div>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon>location_on</mat-icon>
      <div matListItemTitle>Département</div>
      <div matListItemLine>{{detailInfos._departement}} </div>
    </mat-list-item>
    <mat-list-item>
        <mat-icon matListItemIcon>location_on</mat-icon>
        <div matListItemTitle>Commune</div>
        <div matListItemLine>{{detailInfos._commune}}</div>
      </mat-list-item>
</mat-list>