
<nav class="navbar navbar-expand-lg primary-bg-color">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button 
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>-->

    <!-- Collapsible wrapper -->
    <div
      class="navbar-collapse justify-content-center text-center"
      id="navbarCentered"
    >
      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item nav-item1 d-none d-sm-block">
          <img src="../../assets/logo_bw.png" class="align-self-center header-logo" alt="Image 5">
        </li>
        <li class="nav-item">
          <a class="nav-link active white header-text" aria-current="page" href="#">Le site du Patrimoine Saint-Jacques</a>
        </li>
        <li class="nav-item">
          <img src="../../assets/logo_bw.png" class="align-self-center header-logo" alt="Image 5">
        </li>
     
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>


<div>
  <div class="container-fluid">

    <app-breadcrumb></app-breadcrumb>
  </div>
  <router-outlet></router-outlet>
</div>




<div id="footer" class="container-fluid">
   <!-- 
  <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <p class="col-md-4 mb-0 text-muted">&copy; 2023 JNLD</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
    <img src="../../assets/logo_bw.png" class="align-self-center" alt="Image 5">
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Accueil</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Rechercher</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mentions Légales</a></li>
    </ul>
  </footer>-->

  <footer class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-3 col-12 d-flex flex-column justify-content-center footer-link">
      <p class="text-center mb-0">INSTITUT DE RECHERCHE JACQUAIRE (IRJ)</p>
      <a href="https://www.institut-irj.fr/" target="_blank" class="text-center text-decoration-none">www.institut-irj.fr</a>
    </div>

    <div class="col-md-2 col-12 d-flex flex-column justify-content-center footer-link">
      <p class="text-center mb-0">ADRESSE DE CONTACT DE L'IRJ</p>
      <a href="mailto:institut.irj@gmail.com" class="text-center text-decoration-none">institut.irj@gmail.com</a>
    </div>

    <div class="col-md-2 col-12">
      <a href="/" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
        <img src="../../assets/logo_bw.png" class="align-self-center" alt="Patrimoine Jacquaire">
      </a>
    </div>

    <div class="col-md-5 col-12 d-flex flex-column justify-content-center footer-menu">
      <ul class="nav justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2">Accueil</a></li>
        <li class="nav-item"><a href="/#/rechercher" class="nav-link px-2">Rechercher</a></li>
        <li  class="nav-item">
          <button type="button" class="btn btn-link no-decoration"  (click)="openDialog()">Mentions Légales </button>
        </li>
      </ul>
      <p class="mb-0 px-2" style="text-align: right;">&copy; Institut de Recherche Jacquaire - 2023 | Créations web, <a href="https://jnld.xyz/" target="_blank" class="jnld text-decoration-none">JNLD</a></p>
    </div>
  
  </footer>
</div>

