<div class="mt-1" *ngIf="breadcrumbService.items.length >1">
    <a class="pe-4 clickable" [routerLink]="breadcrumbService.items[breadcrumbService.items.length -2]?.path">
        <mat-icon  class="center-verticaly ">arrow_back</mat-icon>
        Retour
    </a>
    <span *ngFor="let item of breadcrumbService.items; let last = last" class="ps-2">
        <a *ngIf="!last" [routerLink]="item.path">{{ item.label }}</a>
        <span *ngIf="last">{{ item.label }}</span>
        <span *ngIf="!last"> ></span>
    </span>
</div>