

<div id="home-img" class="mb-3">
  <!-- <p id="home-title">
    Patrimoine mobilier et immobilier, pèlerins, 
personnages, confréries... liés à saint Jacques
  </p> -->

  <h1 id="home-title">
    Patrimoine mobilier et immobilier, pèlerins, personnages, confréries...
  </h1>

</div>


<div class="container">
  <div class="row text-center fs-3 text-pres mt-5">
    <p>Ce patrimoine est présent partout en Europe, sur et hors les chemins de Compostelle.
      <br>
      <br>
    Pourquoi cette chapelle Saint-Jacques au sommet d’une montagne ou au fond d’une campagne ? Cette relique de l’apôtre dans une église d’où vient-elle ? Pourquoi un hôpital Saint-Jacques ? Un quai Saint-Jacques ? Que sait-on des pèlerins ?
      <br>
      <br>
    Cet inventaire répond en détail à vos questions sur plus de 2000 éléments de ce patrimoine !</p>
  </div>


 <!-- ### BLOC CATEGORIES ### -->

  <div class="row mb-4 text-center">
    <div class="mb-3 text-classif">
      <mat-divider class="mt-4 mb-4 separator"></mat-divider>
      <p class="mt-4">Les informations sont extraites de la base de données de l’IRJ.</p>
      <p class="mt-3">Les éléments sont répartis en quatre catégories.</p> 
    </div>

    <div class="col-xl-3 col-sm-6 col-xs-12 text-center bloc-cat">
      <h3>Monuments & Lieux</h3>
      <p>Église, Chapelle, Hôpital, Oratoire, Quartier, ... </p>
      <img width="70" class="ico" src="../../assets/ico_monuments_lieux_x100.png" alt="">
    </div>

    <div class="col-xl-3 col-sm-6 col-xs-12 text-center bloc-cat">
      <h3>Mobiliers & Images</h3>
      <p>Croix, Relique, Tableau, Mobilier liturgique, Statues, Bannières, ...  </p>
      <img width="70" class="ico" src="../../assets/ico_mobiliers_images_x100.png" alt="">
    </div>

    <div class="col-xl-3 col-sm-6 col-xs-12 text-center bloc-cat">
      <h3>Personnes Morales</h3>
      <p>Confréries,<br>Organismes divers, ...</p>
      <img width="70" class="ico" src="../../assets/ico_personnes_morales_x100.png" alt="">
    </div>

    <div class="col-xl-3 col-sm-6 col-xs-12 text-center bloc-cat">
      <h3>Personnes Physiques</h3>
      <p>Pèlerins ou groupes de pèlerins, Personnages politiques, ...  </p>
      <img width="70" class="ico" src="../../assets/ico_personnes_physiques_x100.png" alt="">
    </div>

    <div class="text-classif-2">
      <p>Des informations systématiques : désignation précise de l’élément, localisation, dates … sont prévues dans chaque catégorie. Elles sont renseignées pour chaque élément lorsque les connaissances existent. Chaque catégorie comprend en outre des informations spécifiques (renseignements techniques pour les objets, description du trajet pour les pèlerins, par ex.).<br>
      Chaque élément possède une notice descriptive et une notice historique</p> 
    </div>


 <!-- ### BTN RECHERCHER ### -->

    <div class="row mb-4 text-center div-search-btn">
      <a id="search-btn" class="btn btn-primary btn-lg mb-4 mt-3" [routerLink]="['' ,'rechercher']">
        Rechercher dans le patrimoine <br>
        <mat-icon class="fs-2">search</mat-icon>
      </a>
    </div>
  </div>
</div>

 <!-- ### BLOC RANDOM ### -->
<div class="container-fluid">
  <div class="primary-bg-color px-3 pb-3" id="random-block">
    <h3 class="text-center py-3 white italic-title">Exemples de résultats de recherche générés aléatoirement</h3>
    <p class="mb-3 center">Les images ci-dessous présentent des résultats d’interrogations aléatoires de la base. Elles donnent une première idée des recherches personnalisées que chaque visiteur pourra faire.</p>
    <app-caroussel [datas]="randomCards"> </app-caroussel>

      <div class="text-center mt-2">
        <button (click)="loadRandom()" id="refreshBtn"  class="btn italic-title ">
          <mat-icon id="refresh-icon" class="fs-1">refresh</mat-icon>
          <br>
          <h5 class="white">Actualiser</h5> 
        </button>
      </div>
  </div>
</div>

 <!-- ### BLOC TEXT BAS ### -->
<div class="container">
  <div class="mt-3 text-button">
    <div class="text-center bottom-text">
      <h4 class="italic-title">Pourquoi cet inventaire ?</h4>
      <p>Cet inventaire est destiné à l’information de larges publics désirant mieux connaître le patrimoine Saint-Jacques. En le publiant, l’IRJ appelle tous les organismes français et étrangers possédant des informations sur des éléments de ce patrimoine à enrichir cet inventaire. Pour construire ensemble un inventaire beaucoup plus riche des traces artistiques diverses héritées des cultes et pèlerinages à saint Jacques.</p>
      <p class="">Les personnes et organismes intéressés peuvent s’adresser à inventaire@institut-irj.fr</p>
    </div>  
</div>


